<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trucooo!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h2>Valendo:
  </h2>
<div class="topo">
<ion-button shape="round" color="light">1</ion-button>
<ion-button shape="round" color="light">3</ion-button>
<ion-button shape="round" color="light" >6</ion-button>
<ion-button shape="round" color="light">9</ion-button>
<ion-button shape="round" color="light">12</ion-button>
  </div>




</ion-content>
